/**
Для кастомизации ElementPlus
 */
:root {
    --el-menu-icon-width: 35px !important;
    --el-menu-item-height: 70px !important;
}

/**
меню
 */
.el-menu-item.is-active {
    background: #ffe4e1;
    color: var(--main-color) !important;
}

.dark .el-menu-item.is-active {
    background: #3f3938;
}

.dark .el-menu {
    background-color: black !important;
}

[role="menubar"].el-menu {
    padding: 75px 0;
}

li.el-menu-item {
    font-size: 12px;
}

.el-menu-vertical:not(.el-menu--collapse) {
    width: 215px;
}

.el-menu a {
    text-decoration: none;
}

/**
кнопки
 */

.root .el-button {
    color: #e8e6e3;
    font-size: 14px;
    background: #666666;
    height: 36px;
    border-radius: 4px;
}

.root .el-button + .el-button {
    margin-left: 10px;
}

.root .el-button:hover, .root .el-button:focus {
    color: white;
    background: #555;
}

.root .el-button.edit {
    padding-left: 40px;
    background: #666666 url('../icons/icon-edit.png') no-repeat bottom 10px left 12px;
}

.root .el-button.exit {
    padding-left: 40px;
    background: #666666 url('../icons/icon-exit.png') no-repeat bottom 10px left 12px;
}

.root .el-button.active {
    background: var(--main-color);
    color: white;
}

/* paginator */
.el-pagination {
    margin-top: 20px;
    float: left;
}

.el-pager .number,
.el-pagination button,
.el-pager .more {
    background: none !important;
}

/** input  */
.el-input {
    max-width: 200px;
}

.el-input__inner {
    width: inherit !important;
    flex-grow: initial;
    max-width: 200px;
}

.canvas .el-input__wrapper {
    margin-bottom: 8px;
    width: 200px;
}

@media (width < 500px) {
    .canvas .el-pagination__sizes {
        display: none;
    }

    .canvas .el-input__wrapper {
        margin: 0;
    }
}




