/**
Для кастомизации ElementPlus
 */
:root {
    --el-menu-icon-width: 35px !important;
    --el-menu-item-height: 70px !important;
}

/**
меню
 */
.el-menu-item.is-active {
    background: #ffe4e1;
    color: var(--main-color) !important;
}

.dark .el-menu-item.is-active {
    background: #3f3938;
}

.dark .el-menu {
    background-color: black !important;
}


[role="menubar"].el-menu {
    padding: 75px 0;
}

li.el-menu-item {
    font-size: 12px;
}

.el-menu-vertical:not(.el-menu--collapse) {
    width: 215px;
}

.el-menu a {
    text-decoration: none;
}

/**
кнопки
 */
.custom .el-button {
    color: #e8e6e3;
    font-size: 14px;
    border-radius: 4px;
}

.gray-buttons .el-button {
    background: #7a7a7a !important;
}

.el-button--success {
    background: #3cac71 !important
}

.custom .el-button + .el-button {
    margin-left: 10px;
}

.custom .el-button:hover, .custom .el-button:focus {
    color: white;
    background: #555;
}

.custom .el-button.edit {
    padding-left: 40px;
    background: #666666 url('../icons/icon-edit.png') no-repeat bottom 10px left 12px;
}

.custom .el-button.exit {
    padding-left: 40px;
    background: #666666 url('../icons/icon-exit.png') no-repeat bottom 10px left 12px;
}

.custom .el-button.active {
    background: var(--main-color);
    color: white;
}

/* paginator */
.el-pagination {
    margin-top: 20px;
    float: left;
}

.el-pager .number,
.el-pagination button,
.el-pager .more {
    background: none !important;
}

/** input  */
.el-input {
    max-width: 200px;
}

.el-input__inner {
    width: inherit !important;
    flex-grow: initial;
    max-width: 200px;
}

@media (width < 500px) {
    .el-pagination__sizes {
        display: none;
    }

    .el-menu {
        border-bottom: solid 1px #bbb;
    }
}

.desk .el-input__wrapper {
    margin-bottom: 8px;
    width: 200px;
}

@media (width < 500px) {
    .el-input__wrapper {
        font-size: 20px;
    }

    .desk .el-input__wrapper {
        margin-bottom: 8px;
        width: 180px;
    }

    .desk__label {
        display: none;
    }
}

.el-form-item {
    margin-bottom: 10px !important;
}

.el-form-item__error {
    padding-top: 0;
    font-size: 11px !important;
    margin-top: -8px;
}

.error-to-message .el-form-item__error{
    display: none;
}


.yourPlace .el-input__inner {
    min-width: 100%;
}

/* uploader avatar photo*/
.avatar-uploader .photo-upload {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    margin: 10px;
    display: flex;
    pointer-events: none;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

.avatar-uploader .photo-upload__btns {
    pointer-events: auto;
    position: absolute;
    background: #ffffff99;
    display: flex;
    gap: 12px;
    padding: 5px 5px 0;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.avatar-uploader .el-upload:hover .photo-upload__btns {
    opacity: 1;
}

.avatar-uploader .avatar {
    width: 150px;
    height: 150px;
    display: block;
}

.avatar-uploader .el-upload {
    width: 126px;
    height: 126px;
}

.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.avatar-uploader .el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 126px;
    height: 126px;
    text-align: center;
}

/**/


.el-select-group .el-select-dropdown__item {
    margin-left: 30px;
}

.narrow-date {
    max-width: 40px;
}

.narrow-date .el-input__wrapper {
    width: 0;
    font-size: 24px;
    cursor: pointer;
    padding-right: 4px;
}

.el-red-lock{
    color:#D34439 !important;
}

.big-collapse .el-collapse-item__header{
    font-size: 18px !important;
}