/**
Для кастомизации ElementPlus
 */
:root {
    --el-menu-icon-width: 35px !important;
    --el-menu-item-height: 70px !important;
}

/* Левое меню */
.left-menu-logo {
    background-image: url("../img/big-logo.gif");
}

.left-menu-logo, .left-menu-opener {
    position: fixed;
    z-index: 2;
    height: 75px;
    width: 214px;
    transition: width 0.3s ease-in-out;
    border-right: 1px solid #ddd;
    z-index: 11;
}

.left-menu-opener {
    font-size: 12px;
    bottom: 0px;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow-x: hidden;
}

.left-menu-opener:hover {
    background: #efefef;
    cursor: pointer;
}

.left-menu-logo.small, .left-menu-opener.small {
    width: 74px;
}

.left-menu-logo.small {
    background-size: cover;
    background-image: url("../img/small-logo.gif");

}

.el-menu {
    padding: 75px 0;
}

li.el-menu-item {
    font-size: 12px;
}

.left-menu-div {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 276px;
    transition: width 0.3s ease-in-out;
    z-index: 10;
}

@media (width < 600px) {
    .left-menu-div {
        overflow-y: initial;
        overflow-x: initial;
    }
}

.content {
    width: 100%;
}

img.hamburger {
    padding: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
}

@media (width < 400px) {
    .left-menu-div, .left-menu-logo {
        margin-left: -75px;
        transition: margin-left 0.3s ease-in-out;
    }

    .left-menu-opener {
        display: none;
    }

    img.hamburger {
        display: block;
    }

    .content {
        position: absolute;
    }

}

.el-menu-item.is-active {
    background: #ffe4e1;
    color: #d34439 !important;
}

.left-menu-div::-webkit-scrollbar {
    width: 0;
}

.left-menu-div.narrow {
    width: 5.4rem;
}

.left-menu-div.show, .left-menu-logo.show {
    position: absolute;
    margin-left: 0;
}

.left-menu-logo.show {
    display: block;
    width: 75px;
    background-image: url("../img/small-logo.gif");
}


