.filter-button {
    display: flex;
    flex-wrap: wrap;
}

.filter-button {
    float: left;
}

.filter-button button {
    margin: 12px 0;
}

.filter-button .el-button {
    background: #7a7a7a;
    color: #e8e6e3;
}

.filter-button .active {
    background: var(--main-color);
    color: white;
}


@media (width < 500px) {
    .filter-button {
        justify-content: center;
    }
}


.el-table__body-wrapper td, .el-table__body-wrapper th {
    border-top: 1px solid #bdc1c2;
}

.deal-car-color {
    width: 50px;
    height: 20px;
    background-color: #e6e6e6;
}

.mobile-row-head {
    height: 50px;
}

@media (width < 500px) {
    .deal-car-color {
        border-right: 4px solid white;
        border-left: 4px solid white;
        width: 60px;
        height: 50px;
        background-color: #e6e6e6;
        margin: 0 8px;
    }
}

.red-text {
    color: var(--main-color)
}


/** Таблица для мобильных экранов*/
.vertical-table div {
    padding: 4px;
}

.vertical-table div.head {
    border-radius: 4px;
    background: var(--main-color);
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 0 8px;
    align-items: center;
}

.vertical-table div.head span {
    font-size: 0.9rem;
}

.vertical-table div {
    font-size: 1.2rem;
}

.vertical-table small {
    width: 73px;
    text-align: right;
    display: inline-block;
    color: var(--main-color);
    padding: 8px;
}

.page-info {
    margin-top: 27px;
    font-size: smaller;
    float: right;
    padding-right: 30px;
}

.a-search {
    text-align: center;
}

.a-search input {
    background: white url(@/assets/icons/icon-search.svg) no-repeat 8px center;
    background-size: 1.5em;
    cursor: pointer;
    padding-left: 40px;
    height: 31px;
    border: 1px solid #ccc;
    margin: 12px 0;
    border-radius: 4px;
}

.dark .a-search input {
    background-color: black;
}

.a-search input:focus-visible {
    outline: 1px solid #aaa;
}

.open-filter {
    clear: both;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .73s ease-in-out;
}

.open-filter .el-select {
    max-width: 217px;
}

.open-filter.open {
    grid-template-rows: 1fr;
}

.deal-filters .label {
    width: 170px;
    text-align: right;
    display: inline-block;
    padding: 0 8px;
    float: left;
    clear: both;
    line-height: 30px;
}

.filter-block {
    float: left;
    text-align: right;
    padding-right: 30px;
}

.filter-button {
    transform: rotate(0);
    transition: transform 0.3s ease-in-out;
}

.filter-button.open {
    transform: rotate(-180deg);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
    font-size: small;
    float: left;
}

@media (width < 500px) {
    .deal-filters .label {
        width: 130px;
    }

    .tags {
        float: initial;
        justify-content: center;
    }
}

.tags span {
    white-space: nowrap;
    margin: 2px 5px;
    border-radius: 2px;
    padding: 4px 12px;
    border: 1px solid #ddd;
}

.tags b {
    margin-left: 5px;
    cursor: pointer;
}

.big-table {
    margin-top: 24px;
    width: calc(100% - 15px) !important
}