.filter-button {
    display: flex;
    flex-wrap: wrap;
}

.filter-button {
    float: left;
}

.filter-button button {
    margin: 12px 0;
}


@media (width < 500px) {
    .filter-button {
        justify-content: center;
    }
}


.el-table__body-wrapper td, .el-table__body-wrapper th {
    background: #f1f2f4;
    border-top: 1px solid #bdc1c2;
}

.deal-car-color {
    border: 1px solid #bdc1c2;
    width: 20px;
    height: 15px;
    background-color: #e6e6e6;
}

.red-text {
    color: #d34439
}


/** Таблица для мобильных экранов*/
.vertical-table div {
    padding: 4px;
}

.vertical-table div.head {
    border-bottom: 2px solid #555;
    border-radius: 4px;
    background: #d34439;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 12px;
    margin: 12px 0;
}

.vertical-table div.head span {
    font-size: 0.9rem;
}

.vertical-table div {
    font-size: 1.2rem;
}

.vertical-table small {
    width: 73px;
    text-align: right;
    display: inline-block;
    color: #d34439;
    padding: 8px;
}

.page-info {
    margin-top: 27px;
    font-size: smaller;
}

.a-search {
    text-align: center;
}

.a-search input {
    background: white url(@/assets/icons/icon-search.svg) no-repeat 8px center;
    background-size: 1.5em;
    cursor: pointer;
    padding-left: 40px;
    height: 35px;
    border: 1px solid #999;
    margin: 12px 0;
    border-radius: 4px;
}

.a-search input:focus-visible {
    outline: 1px solid #aaa;
}

.open-filter {
    clear: both;
}
