.filter-button {
    display: flex;
    flex-wrap: wrap;
}

.filter-button {
    float: left;
}

.filter-button button {
    margin: 12px 0;
}


@media (width < 500px) {
    .filter-button {
        justify-content: center;
    }
}


.el-table__body-wrapper td, .el-table__body-wrapper th {
    background: #f1f2f4;
    border-top: 1px solid #bdc1c2;
}

.deal-car-color {
    border: 1px solid #bdc1c2;
    width: 20px;
    height: 15px;
    background-color: #e6e6e6;
}

.red-text {
    color: #d34439
}


/** Таблица для мобильных экранов*/
.vertical-table div {
    padding: 4px;
}

.vertical-table div.head {
    border-bottom: 2px solid #555;
    border-radius: 4px;
    background: #d34439;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 12px;
    margin: 12px 0;
}

.vertical-table div.head span {
    font-size: 0.9rem;
}

.vertical-table div {
    font-size: 1.2rem;
}

.vertical-table small {
    width: 73px;
    text-align: right;
    display: inline-block;
    color: #d34439;
    padding: 8px;
}

.page-info {
    margin-top: 27px;
    font-size: smaller;
    float: right;
    padding-right: 30px;
}

.a-search {
    text-align: center;
}

.a-search input {
    background: white url(@/assets/icons/icon-search.svg) no-repeat 8px center;
    background-size: 1.5em;
    cursor: pointer;
    padding-left: 40px;
    height: 35px;
    border: 1px solid #999;
    margin: 12px 0;
    border-radius: 4px;
}

.a-search input:focus-visible {
    outline: 1px solid #aaa;
}

.open-filter {
    clear: both;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
}

.open-filter.open {
    grid-template-rows: 1fr;
}

.deal-filters label {
    width: 130px;
    text-align: right;
    display: inline-block;
    padding: 0 8px;
    float: left;
    clear: both;
    line-height: 30px;
}

.filter-block {
    float: left;
    text-align: right;
    padding-right: 30px;
}

.filter-button {
    transform: rotate(0);
    transition: transform 0.3s ease-in-out;
}

.filter-button.open {
    transform: rotate(-180deg);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
    font-size: small;
}

.tags span {
    white-space: nowrap;
    margin: 2px 5px;
    border-radius: 2px;
    padding:4px 12px;
    border: 1px solid #ddd;
}

.tags b {
    margin-left: 5px;
    cursor: pointer;
}

