/* Левое меню */
.left-menu-logo {
    background-image: url("../img/big-logo.gif");
}

.left-menu-logo, .left-menu-opener, .left-menu-fon {
    position: fixed;
    height: 75px;
    width: 214px;
    transition: width 0.3s ease-in-out;
    border-right: 1px solid #ddd;
    z-index: 11;
}

.left-menu-fon {
    background: #fff;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.left-menu-opener {
    font-size: 12px;
    bottom: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow-x: hidden;
}

.dark .left-menu-opener {
    background-color: #111;
    border-right: 1px solid #444;
}

.dark .left-menu-opener:hover {
    background-color: #222;
}

.left-menu-opener:hover {
    background: #efefef;
    cursor: pointer;
}

.left-menu-logo.small, .left-menu-opener.small, .left-menu-fon.small {
    width: 74px;
}

.left-menu-logo.small {
    background-size: cover;
    background-image: url("../img/small-logo.gif");

}

.left-menu-div {
    overflow-y: auto;
    overflow-x: hidden;
    width: 215px;
    max-width: 215px;
    transition: width 0.3s ease-in-out;
    z-index: 10;
}

.content {
    position: relative;
    transition: width 0.3s ease-in-out;
    width: 100%;
}

.content.wide {
    width: calc(100% - 220px);
}

.content.narrow {
    height: 100%;
}

img.hamburger {
    padding: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
}

@media (width < 500px) {
    .left-menu-div, .left-menu-logo {
        margin-left: -75px;
        transition: margin-left 0.3s ease-in-out;
    }

    .left-menu-opener {
        display: none;
    }

    img.hamburger {
        display: block;
    }

    .content {
        position: absolute;
    }

    .content.narrow {
        width: 100%;
    }
}

.left-menu-div::-webkit-scrollbar {
    width: 0;
}

.left-menu-div.narrow {
    width: 75px;
}

.left-menu-div.show, .left-menu-logo.show {
    position: absolute;
    margin-left: 0;
}

.left-menu-logo.show {
    display: block;
    width: 75px;
    background-image: url("../img/small-logo.gif");
}
