.report-days-table {
    margin-top: 24px;
    width: calc(100vw - 130px);
    cursor: pointer;
}

.report-days-table .cityName {
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
}

.report-days-table.el-table .gray-fon {
    --el-table-tr-bg-color: #f1eeee;
    cursor: initial;
}

.report-days-table.el-table .blue-text {
    color: #4682b4;
    font-weight: bold;
}

.report-days-table.el-table .hide-row {
    display: none;
}

.report-days-table .cell {
    line-height: initial;
    text-align: center;
    padding: 0;
}

@media (width < 500px) {
    .report-days-table {
        width: 100vw
    }
}

.el-table .blue-text {
    color: cornflowerblue;
    font-weight: bold;
}

.el-table .red-text {
    color: #f56c6c;
}

.el-table .gray-fon {
    --el-table-tr-bg-color: #eee;
    cursor: initial;
}

.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
    background: #ddd;
}

.expander {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows .3s;
}

.expander-content {
    min-height: 0;
    transition: visibility .1s ease-out;
    visibility: hidden;
}

.expander.expanded {
    grid-template-rows: 1fr;
}

.expander.expanded .expander-content {
    visibility: visible;
}

.reports-buttons .expander-content .el-button {
    background: var(--main-color);
    color: white;
    margin-right: 30px;
    min-width: 280px;
}

.reports-buttons .expander-content > div {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}